<ng-container>
  <div class="col-6">
    <div class="form-group">
      <input class="form-control" type="text" [value]="mapValueIntoObject(sportControl.value)?.description" (click)="toggleVisible()"> <!-- todo - move fn to ts -->
      <div [ngClass]="(isOptionVisible) ? 'isVisible select' : 'isNotVisible select'" > <!-- todo - is visible ?-->
        <span *ngFor="let item of sportsList" class="option" (click)="selectItem(item.description )">{{item.description}}</span>
      </div>
    </div>
    <br />
    <input type="submit" (click)="handleSubmit()" class="btn btn-primary">
  </div>
</ng-container>
