<ng-container>
  <div class="col-6">
    <div class="form-group">
      <input class="form-control" type="text" (focus)="toggleVisible(true)" (keydown)="handleSelectActions($event)"
        [formControl]="selectedSport" #input [value]="getSelectedSport.value">
      <ul class="select" [ngClass]="(isOptionVisible) ? 'isVisible' : 'isNotVisible'" #tips>
        <li *ngFor="let item of filterModel; index as i" class="option" (click)="selectItem(item.description)"
           [attr.data-order]="i" [ngClass]="this.focusedIndex === i ? 'selected' : ''">
          {{item.description}}
        </li>
      </ul>
    </div>
    <div *ngIf="getSelectedSport.valid">Valid</div>
    <div *ngIf="getSelectedSport.invalid">invalid</div>

    <br />
    <input type="submit" (click)="handleSubmit()" class="btn btn-primary">
  </div>
</ng-container>
